n8n_workflow_openai.json
{
  "name": "Dark Content Creator Workflow - OpenAI Version",
  "nodes": [
    {
      "parameters": {
        "mode": "everyMinute",
        "options": {}
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "id": "cec9b3c4-8d9e-4f5a-b1c2-d3e4f5a6b7c8",
      "position": [240, 200]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-3.5-turbo",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Você é um analista de tendências especialista em detectar e prever tendências virais para canais dark/faceless no YouTube e TikTok."
            },
            {
              "role": "user", 
              "content": "Gere 3 temas atuais com alto potencial de viralização para vídeos de nicho \"Dark/Faceless\" no YouTube e TikTok.\n\nPara cada tema, inclua no JSON de saída:\n1. \"theme_id\" (ID único para o tema)\n2. \"main_keyword\" (Palavra-chave principal)\n3. \"differentiating_subtheme\" (Subtema que o diferencia)\n4. \"emotion_predominant\" (Emoção predominante - ex: medo, mistério, curiosidade)\n5. \"engagement_potential\" (Potencial de engajamento - Alto, Médio, Baixo)\n6. \"suggested_title\" (Título que poderia ser usado)\n\n**Sempre responda apenas com o JSON, sem texto adicional antes ou depois.**"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "name": "Agente Trends",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "position": [440, 200]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-3.5-turbo",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Você é o Oráculo de Conteúdo Dark, especialista em criar conceitos virais para canais faceless."
            },
            {
              "role": "user", 
              "content": "Com base nas tendências que recebo, gere um conceito de vídeo completo para um canal dark/faceless.\n\nDados de entrada: {{ JSON.stringify($json) }}\n\nCrie um enredo sombrio, tom narrativo e plot twists em formato JSON."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "name": "Oráculo",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "position": [640, 200]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-3.5-turbo",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Você é o Roteirista Mestre, especialista em criar roteiros detalhados para canais dark/faceless."
            },
            {
              "role": "user", 
              "content": "Crie um roteiro completo de vídeo baseado no conceito:\n\n{{ JSON.stringify($json) }}\n\nGere um roteiro estruturado com introdução, desenvolvimento, clímax e conclusão."
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1500
        }
      },
      "name": "Roteirista",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "position": [840, 200]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-3.5-turbo",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Você é o Designer AI de Prompts Visuais, especialista em criar instruções para geração de imagens."
            },
            {
              "role": "user", 
              "content": "Baseado no roteiro, crie prompts visuais para:\n\n{{ JSON.stringify($json) }}\n\n1. Thumbnail do YouTube otimizada\n2. B-rolls cinematográficos\n3. Especificações técnicas"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 1000
        }
      },
      "name": "Designer AI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "id": "i9j0k1l2-m3n4-5678-ijkl-901234567890",
      "position": [1040, 200]
    },
    {
      "parameters": {
        "resource": "text",
        "model": "gpt-3.5-turbo",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "Você é um especialista em SEO para YouTube e TikTok."
            },
            {
              "role": "user", 
              "content": "Otimize para SEO do YouTube:\n\n{{ JSON.stringify($json) }}\n\nGere:\n1. Título otimizado\n2. Descrição SEO\n3. Tags relevantes\n4. Sugestões A/B"
            }
          ]
        },
        "options": {
          "temperature": 0.7,
          "maxTokens": 800
        }
      },
      "name": "SEO Master",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "id": "j0k1l2m3-n4o5-6789-jklm-012345678901",
      "position": [1240, 200]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Agente Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Trends": {
      "main": [
        [
          {
            "node": "Oráculo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Oráculo": {
      "main": [
        [
          {
            "node": "Roteirista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roteirista": {
      "main": [
        [
          {
            "node": "Designer AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "SEO Master",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
